<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Hi <%= @user.name %></h1>
        <p>Terimakasih sudah menggunakan pelayanan dari asuransi kami, berikut credentials dari anda </p>      
        <p>
            Email : <%= @user.email %><br>
            New Password : <%= @password %>
        </p>
        <p>Silahkan login, dan update password segera untuk keamanan</p>
    </body>
</html>